@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf')format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf')format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf')format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-ExtraBold.ttf')format('truetype');
    font-weight: 700;
    font-style: normal;
}

@import 'variables';
@import './colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: $width-container;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.header.headerFixed {
    box-shadow: 0 .8px 10px rgba(0, 0, 0, .1);
    position: fixed !important;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: $white-color;
    animation: fadeInHeader .4s ease-in-out;
}

.header__content-nav li.active .header__content-nav-link:before {
    transform: scale(1) !important;
}

@keyframes fadeInHeader {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

// personal infomation 
.active-tag {
    transform: translateX(0) !important;

    & .tag__content {
        color: $primary-color;
    }
}

.open {
    display: block !important;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
}