.header {
    width: 100%;
    height: 75px;
    // box-shadow: 0 .8px 10px rgba(0, 0, 0, .1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    // background-color: $white-color;

    .header__content {
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        font-size: 16px;

        .header__content-logo {
            font-size: 24px;
            // width: 120px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            & span {
                background-color: $primary-color;
                display: flex;
                width: 40px;
                height: 40px;
                color: $white-color;
                border-radius: 50%;
                font-weight: 700;
                justify-content: center;
                align-items: center;
            }

            & h3 {
                color: $black-color;
            }
        }

        .header__content-nav {
            flex: 1;
            height: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            & li {
                margin: 0 30px;

                &:hover {
                    cursor: pointer;
                }

                &:hover .header__content-nav-link:before {
                    transform: scale(1);
                }
            }

            & li:first-child {
                margin-left: 0;
            }

            & li:last-child {
                margin-right: 0;
            }

            .header__content-nav-link {
                display: inline-block;
                text-decoration: none;
                color: $black-color;
                font-weight: 500;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    width: 100%;
                    height: 2px;
                    background-color: $primary-color;
                    transition: all .4s;
                    transform-origin: center center;
                    transform: scale(0);
                    overflow: hidden;
                }
            }

            .close {
                font-size: 16px;
                color: $white-color;
                display: none;
            }
        }

        .bars {
            font-size: 22px;
            display: none;
        }
    }
}

// tablet
@media screen and (max-width : 768px) and (min-width: 601px) {
    .header {

        .header__content {
            justify-content: space-between;

            .header__content-nav {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: auto;
                z-index: 100;
                background-color: $primary-color;
                flex-direction: column;
                transition: all .3s;
                animation: appear .3s ease-out;
                display: none;

                & li {
                    text-align: center;
                    margin: 20px 0;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .header__content-nav-link {
                    display: inline-block;
                    text-decoration: none;
                    color: $white-color;
                    font-weight: 500;
                    position: relative;
                }

                .close {
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    cursor: pointer;
                }
            }

            .bars {
                cursor: pointer;
                display: block;
            }
        }
    }
}

//mobile 
@media screen and (max-width : 600px) {
    .header {

        .header__content {
            justify-content: space-between;

            .header__content-nav {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: auto;
                z-index: 100;
                background-color: $primary-color;
                flex-direction: column;
                transition: all .3s;
                animation: appear .3s ease-out;
                display: none;

                & li {
                    text-align: center;
                    margin: 20px 0;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .header__content-nav-link {
                    display: inline-block;
                    text-decoration: none;
                    color: $white-color;
                    font-weight: 500;
                    position: relative;
                }

                .close {
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    cursor: pointer;
                }
            }

            .bars {
                cursor: pointer;
                display: block;
            }
        }
    }
}

.fly {
    animation: disappear .3s ease-out !important;
}

@keyframes appear {
    from {
        top: -100%;
        opacity: 0;
        visibility: hidden;
    }

    to {
        top: 0;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes disappear {
    from {
        top: 0;
        opacity: 1;
        visibility: visible;
    }

    to {
        top: -100%;
        opacity: 0;
        visibility: hidden;
    }
}