@import 'mixins', 'variables', 'colors', 'base.scss';

// header 
.header {
    width: 100%;
    height: 75px;
    // box-shadow: 0 .8px 10px rgba(0, 0, 0, .1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    // background-color: $white-color;

    .header__content {
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        font-size: 16px;

        .header__content-logo {
            font-size: 24px;
            // width: 120px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            & span {
                background-color: $primary-color;
                display: flex;
                width: 40px;
                height: 40px;
                color: $white-color;
                border-radius: 50%;
                font-weight: 700;
                justify-content: center;
                align-items: center;
            }

            & h3 {
                color: $black-color;
            }
        }

        .header__content-nav {
            flex: 1;
            height: 100%;
            list-style: none;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;

            & li {
                margin: 0 30px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    cursor: pointer;
                }

                &:hover .header__content-nav-link:before {
                    transform: scale(1);
                }
            }

            .header__content-nav-link {
                display: inline-block;
                text-decoration: none;
                color: $black-color;
                font-weight: 500;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    width: 100%;
                    height: 2px;
                    background-color: $primary-color;
                    transition: all .4s;
                    transform-origin: center center;
                    transform: scale(0);
                    overflow: hidden;
                }
            }
        }
    }
}

// hero
.hero {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    .hero__left {
        height: 100vh;
        background-color: $hero-background-color;
        position: relative;

        .hand-down-icon {
            position: absolute;
            font-size: 16px;
            color: $primary-color;
            top: 70%;
            right: 0;
            animation: toBottomAnimate 1s ease-in-out infinite;
        }

        &::before {
            position: absolute;
            content: "";
            width: 70px;
            height: 70px;
            background-color: $hero-background-color;
            top: 70%;
            right: -30px;
            transform: rotate(45deg);

        }
    }

    .hero-right {
        height: 100vh;
        background-color: $white-color;
    }

    .hero__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .subheading {
            font-size: 16px;
            color: $primary-color;
            font-weight: 600;
            text-transform: uppercase;
        }

        & h1 {
            font-size: 60px;
        }

        & h2 {
            font-size: 32px;
            color: $primary-color;

            span.text__typing {
                color: $black-color !important;
            }
        }
    }
}

@keyframes toBottomAnimate {
    from {
        top: 70%;
        opacity: 60%;
    }

    to {
        top: 80%;
        opacity: 100%;
    }
}

// about 
.about-me {
    width: 100%;
    height: 100vh;

    .about-me__content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .about-me__left {
            height: 100vh;
            // background-color: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;

            .about-me__personal-img {
                width: 350px;
                height: 350px;
                border: 5px outset rgba(0, 0, 0, .3);
                border-style: inset;
                animation: radius 6s infinite;
                overflow: hidden;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .about-me__right {
            height: 100vh;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 50px 0;
            align-items: flex-start;

            .title {
                font-size: 50px;
            }

            .subTitle {
                color: $text-color;
            }

            & ul {
                list-style: none;

                & li {

                    display: flex;
                    align-items: center;
                    margin: 20px 0;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .info__detail-field {
                        color: $black-color;
                        font-weight: 600;
                        min-width: 150px;
                    }

                    .info__detail-text {
                        color: $text-color;
                    }
                }
            }

            .down-cv {
                width: 147px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 40px;
                color: $white-color;
                outline: none;
                background-color: $primary-color;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 600;
                transition: all .5s;

                &:hover {
                    color: $black-color;
                    box-shadow: 0 0 3px 4px $primary-color;
                    cursor: pointer;
                }
            }
        }
    }
}

@keyframes radius {
    0% {
        border-radius: 30% 70% 40% 60%;
    }

    50% {
        border-radius: 50% 40% 80% 50%;
    }

    75% {
        border-radius: 65% 70% 50% 30%;
    }

    100% {
        border-radius: 30% 70% 40% 60%;
    }
}

// personal infomation 
.personal-information {
    width: 100%;
    height: 100vh;

    .personal-information__content {
        height: 100vh;
        display: flex;
        justify-content: space-between;
        font-size: 16px;

        .personal-information__left-side {
            position: relative;
            flex-basis: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .personal-information__left-side-taglist {
                list-style: none;

                & li {
                    cursor: pointer;
                    line-height: 32px;
                    overflow: hidden;

                    & p {
                        transition: all .4s;
                        transform: translateX(-16%);
                    }

                    & .tag__select-icon {
                        color: $primary-color;
                    }

                    & span {
                        font-weight: 700;
                    }
                }
            }

        }

        .personal-information__right-side {
            flex-basis: 75%;
            font-size: 16px;

            .personal-information__right-side-part {
                width: 100%;
                margin: 50px 0;

                .personal-information__right-side-part-title {
                    font-size: 30px;
                    font-weight: 700;
                    color: $primary-color;
                }

                .personal-information__right-side-part-list {
                    list-style: none;
                    width: 100%;
                    height: auto;

                    & li {
                        width: 100%;
                        padding: 30px 0;
                        border: 1px solid #e5e5e5;
                        border-left: 0;
                        border-right: 0;
                        display: flex;

                        &:first-child {
                            border-top: none;
                        }

                        & span i {
                            margin-right: 20px;
                            color: $primary-color;
                        }

                        .date {
                            display: inline-block;
                            font-weight: 700;
                            margin-bottom: 10px;
                            color: $primary-color;
                        }

                        .major {
                            font-size: 24px;
                            margin-bottom: 10px;
                        }

                        .position {
                            display: inline-block;
                            font-size: 18px;
                            font-weight: 600;
                            margin-bottom: 10px;
                        }

                        .detail {
                            color: $text-color;
                        }
                    }
                }
            }

            .personal-information__right-side-part.skills {

                & .personal-information__right-side-part-list li span:nth-child(2) {
                    font-weight: 600;
                }
            }
        }
    }
}

// project 
.project {
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: 100px 0;

    .project__heading {
        font-size: 50px;
        font-weight: 700;
    }

    .project__title {
        display: inline-block;
        width: 660px;
        text-align: center;
        font-size: 16px;
        color: $text-color;
        margin: 30px 0;
    }

    .project__content {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .project__content-item {
            width: 100%;
            height: 300px;
            position: relative;
            overflow: hidden;


            &:hover .main-content {
                top: 0;
                opacity: 1;
                visibility: visible;
            }

            &:hover .overlay {
                background-color: rgba($color: $primary-color, $alpha: .7);
            }

            .img-project {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .main-content {
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 100%;
                left: 0;
                opacity: 0;
                visibility: hidden;
                transition: all .5s;
                z-index: 3;
                color: $white-color;

                a {
                    width: 147px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 40px;
                    color: $white-color;
                    background-color: rgba($color: $primary-color, $alpha: 1);
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 600;
                    text-decoration: none;
                    margin-top: 30px;
                }
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: transparent;
                transition: all .6s;
                z-index: 2;
            }
        }
    }
}

// hire me 
.hire-me {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 417px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://preview.colorlib.com/theme/ronaldo/images/bg_1.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white-color;

    & h1 {
        font-size: 40px;
        font-weight: 700;
        z-index: 3;

        .strong {
            color: $light-green-color;
            font-size: 40px;
        }
    }

    & .sub {
        display: block;
        width: 600px;
        text-align: center;
        font-size: 16px;
        margin: 20px 0;
        z-index: 3;
    }

    & button {
        font-size: 12px;
        width: 147px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 40px;
        color: $white-color;
        background-color: rgba($color: $primary-color, $alpha: 1);
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        z-index: 3;
        cursor: pointer;
    }

    .overlay {
        background-color: rgba($color: $primary-color, $alpha: .7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}

// contact 
.contact {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 100px 0;

    .contact__heading {
        font-size: 50px;
        font-weight: 700;
    }

    .contact__title {
        display: inline-block;
        width: 660px;
        text-align: center;
        font-size: 16px;
        color: $text-color;
        margin: 30px 0;
    }

    .contact__content {
        margin-top: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .contact__content-item-box {
            display: flex;
            justify-content: center;
            height: auto;

            .contact__content-item {
                width: 255px;
                height: 285px;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .icon {
                    width: 100px;
                    height: 100px;
                    background-color: $primary-color;
                    color: $white-color;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    margin: 0 auto;
                }

                .heading {
                    font-size: 18px;
                    margin: 15px 0;
                }

                .text {
                    padding: 0 10px;
                    font-size: 16px;
                    color: $text-color;
                }
            }
        }
    }

    .contact__form {
        background-color: $contact-form-ground;
        display: flex;
        justify-content: space-between;
        padding: 100px 50px;

        .contact__form-left {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 140px;
        }

        .contact__form-right {
            .input-box {
                width: 459px;
                height: 52px;
                margin-bottom: 30px;

                &:last-child {
                    margin: 0;
                }


                & input {
                    width: 100%;
                    height: 100%;
                    border: 1px solid $text-color;
                    outline: none;
                    padding-left: 15px;
                    font-size: 16px;
                    color: $text-color;
                }
            }

            .message {
                width: 459px;
                height: 171px;
                outline: none;
                padding-top: 15px;
                padding-left: 15px;
                font-size: 16px;
                color: $text-color;
            }

            .btn-send {
                font-size: 12px;
                width: 147px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 40px;
                color: $white-color;
                background-color: rgba($color: $primary-color, $alpha: 1);
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 600;
                cursor: pointer;
                margin-top: 30px;
            }
        }
    }

}

// footer 
.footer {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 683px;
    background-color: $black-color;
}